---
import AppShell from "@components/AppShell.astro";
import VideoFrame from "@components/VideoFrame.astro";
import WatchNavigator from "@components/WatchNavigator.astro";
import { isContentType } from "@lib/content";
import { getDetail, getEpisode, getEpisodes } from "@lib/splay";
import { createWatchNavigation, videoSourceFor } from "@lib/watch";

const collection = Astro.params.collection ?? "";
const id = Astro.params.id ?? "";
const episodeIndex = Astro.params.episode ?? "";

if (!isContentType(collection)) {
  return Astro.redirect("/");
}

const [detail, episode, episodes] = await Promise.all([
  getDetail(collection, id),
  getEpisode(collection, id, episodeIndex),
  getEpisodes(collection, id)
]);

const item = detail.item;
const videoSrc = videoSourceFor(episode);
const navigation = createWatchNavigation({ collection, contentId: id, episodeKey: episodeIndex, episodes });
---

<AppShell title={`${item.title} Episode ${episodeIndex} - PGDrama`} compact>
  <a class="brutal-button-secondary mb-5 inline-flex px-4 py-2 text-sm" href={navigation.detailUrl}>
    &larr; Kembali ke detail
  </a>

  <VideoFrame
    src={videoSrc}
    subtitle={episode?.subtitle_url}
    subtitles={episode?.subtitles}
    poster={item.cover_url}
    title={`${item.title} - Episode ${episode?.index ?? episodeIndex}`}
    previousEpisode={navigation.previous}
    nextEpisode={navigation.next}
    content={{
      id: item.id,
      type: collection,
      episode_id: episode?.id ?? episodeIndex,
      episode_index: episode?.index ?? Number(episodeIndex),
      title: item.title,
      cover_url: item.cover_url
    }}
  />

  <WatchNavigator navigation={navigation} />
</AppShell>
